<!DOCTYPE html>
<html>
  <head>
    <title>Add New Book</title>
  </head>

  <body>

    <h1><span style="padding-left:157px;">Add new book to collection</h1>
    <%= render 'inputForm'%>

  </body>
</html>
