/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$navbar-default-bg: #241309;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float:left;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: overline;
  color: #fff;
}

#logo:hover {
  color:Red;
}

.container{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
}

.center{
  text-align: center;
}

.footer-style{
  margin-top: 30px;

  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer-style small{
  float: left;
  margin-top: 5px;
}

.footer-style ul{
  float: right;
  list-style: none;
  margin-top: 5px;
}

.jumbotron{
  margin-top: 50px;
  height: 500px;
}

.btn-style{
  font-size: 1.8em;
  background-color: #241309;
}

.show-align{
  margin-top: 10;
}

.deviseFrm{
  float:left;
}
