<div class= "container">
  <footer class="footer-style">
    <small>
      Copyright &copy; by Shobin Sunny
    </small>

    <nav>
      <ul>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
